@import './variables.scss';
@import './mixin.scss';

/* 居中 */
.container {
  position: relative;
  width: $containerWidth;
  margin-right: auto;
  margin-left: auto;
}

// 公共logo
.header_logo{
  display:inline-block;
  width:55px;
  height:55px;
  background-color: $orange;
  a{
    display:inline-block;
    width: 110px;
    height: 55px;
    &:before{
      content:' ';
      @include bgImg(55px,55px, '../assets/imgs/mi-logo.png',55px);
      transition: margin .2s;
    }
    &:after{
      content:' ';
      @include bgImg(55px,55px, '../assets/imgs/mi-home.png',55px);
    }
    &:hover:before{
      margin-left: -55px;
      transition: margin .2s;
    }
  }
}
